<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oniflights</title>
  </head>
  <body>

  <% if @potential_flights.length == 0 %>

    <div class="flight_index_form_bg">

      <div class="flight_index_quote">
        Let the journey begin
      </div>

    <div class="flight_index_form_container">

      <p>One Way<p>
       

      <%=form_with url:"/", method:"get",data: { turbo: false} do |f| %>
        <div class="flight_form_container">
          <div class="flight_form">
            <%= f.label :departure_airport_id, "Departure Airport"%>
            <%= f.collection_select(:departure_airport_id, Airport.all, :id, :name)%>
          </div>
          <div class ="flight_form">
            <%= f.label :arrival_airport_id, "Arrival Airport"%>
            <%= f.collection_select(:arrival_airport_id, Airport.all, :id, :name)%>
          </div>
          <div class="flight_form">
            <%= f.label :departure_date, "Departure Date"%>
            <%= f.collection_select(:departure_date, Flight.select(:departure_date).distinct, :departure_date, :departure_date)%>
          </div>
          <div class="flight_form passengers">
            <%= f.label :number_of_passengers, "No. of passengers"%>
            <%= f.select :number_of_passengers, options_for_select([[1,1],[2,2],[3,3],[4,4]])%>
          </div>
        </div>

       <p>□ Direct Flights Only</p>
       <p>□ Add Nearby Airports</p>

        </div>

          <div class="flight_search">
            <%= f.submit "Search Flights" %>
          </div>
      <%end%>
      </div>
    </div>
  <% else %>
  <div class="flight_index_form_bg results">

    <div class="flight_index_form_container results">         

      <%=form_with url:"/", method:"get",data: { turbo: false} do |f| %>
        <div class="flight_form_container results">
          <div class="flight_form">
            <%= f.label :departure_airport_id, "Departure Airport" %>
            <%= f.collection_select(:departure_airport_id, Airport.all, :id, :name, :selected => @flight.departure_airport_id) %>
          </div>
          <div class ="flight_form">
            <%= f.label :arrival_airport_id, "Arrival Airport" %>
            <%= f.collection_select(:arrival_airport_id, Airport.all, :id, :name, :selected => @flight.arrival_airport_id) %>
          </div>
          <div class="flight_form">
            <%= f.label :departure_date, "Departure Date" %>
            <%= f.collection_select(:departure_date, Flight.select(:departure_date).distinct, :departure_date, :departure_date, :selected => @flight.departure_date) %>
          </div>
          <div class="flight_form passengers">
            <%= f.label :number_of_passengers, "No. of passengers" %>
            <%= f.select :number_of_passengers, options_for_select([[1,1],[2,2],[3,3],[4,4]], params[:number_of_passengers])%> 
          </div>
        </div>


      <div class="flight_search results">
        <%= f.submit "Search Flights" %>
      </div>
      <%end %>
      </div>
    </div>
    
  <%= form_with do |f|%>
    <div class="flight_results_container">

  <% @potential_flights.each do |flight|%>
    <div class="flight">
        <div class="flight_logo"> <%=image_tag "flightlogo.png"%>
        </div>

        <div class="departure_time">
        <%=flight.departure_time.strftime("%H:%M")%>
        <div class="departure_airport_code"><%=flight.departure_airport.code%></div>
        </div>
        <div class ="middle">
          <div class="duration">
            <%=(flight.duration.to_f/60).round(1) %> hours 
          </div>
          <div class="plane_and_line">
            <div class="line">
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <line x1="-600" y1="0" x2="600" y2="0" stroke="black", stroke-width="20" />
              </svg>
            </div>
            <div class="plane">
              <%=image_tag("plane.svg")%>
            </div> 
          </div>
                  <div class="direct">Direct</div>

        </div>
        
        <div class="arrival_time"><%=flight.arrival_time.strftime("%H:%M")%>
               
               
          <div class="arrival_airport_code"> <%=flight.arrival_airport.code%> </div>
        </div>
      
    
      <div class="selection">
      <div class="price">£<%= flight.price%></div>
      <div class="flight_radio_button>
        <%=f.label :flight, "Select"%>
        <%= f.radio_button :flight, "Select"%>
        
        </div>
      </div>
    </div>
      
  <%end %>
        <div class="flight_next">
          <%=f.submit "Continue"%>
        </div>
      <%=f.hidden_field :number_of_passengers%>
<%end%>
</div>
    <%end %>
  </body>
</html>


