
<%=form_with url:"/", method:"get",data: { turbo: false} do |f| %>
<%= f.label :departure_airport, "Departure Airport"%>
<%= f.collection_select(:departure_airport, Airport.all, :id, :name)%>
<%= f.label :arrival_airport, "Arrival Airport"%>
<%= f.collection_select(:arrival_airport, Airport.all, :id, :name)%>
<%= f.label :departure_date, "Departure Date"%>
<%# <%= f.collection_select(:departure_date, Flight.select(:departure_date).distinct, :id, :departure_date)%>  %>
<%# <%= f.collection_select(:departure_date, Flight.all, :id, :departure_date)%> %>
<%= f.collection_select(:departure_date, Flight.select(:departure_date).distinct, :departure_date, :departure_date)%>

<%= f.submit "Search" %>
<%end%>

<%# <% @potential_flights.each do |flight|%>
<%# <div> %>
<%# <%=flight.departure_airport.name%> %>
<%# <%=flight.arrival_airport.name%> %>
<%# <%=flight.departure_date%> %>
<%# <%=flight.arrival_date%> %>
<%# </div> %>
<%# <%end%> %> %>
